.footer-contents.front-footer{
    //background-color: red !important;
    background: #e52c28;
    color: #ffff;
  }  

.footer-right-colmn{
  margin-top: 15px;
  text-align: right;
  .copy-cls{
    margin-right: 20px;
  }
}
.footer-left-colmn{
  text-align: left;
  padding: 10px;
  .navbar-branda{
    margin-left: 60px;
  }
}
@media (max-width: 740px) {
  
  .footer-left-colmn{
    text-align: center;
    padding: 10px;
    .navbar-branda{
      margin-left: 0px;
    }
  }
}