// section.content {
//   margin: 35px 27px 0 0px;
// }
/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

//@import '~ngx-sharebuttons/themes/default';
.navbar.active {
  // background: linear-gradient(to right, #048efb, #08b1d6);
   background: #e52c28 !important;
//   box-shadow: 0 1px 5px rgba(0, 0, 0, 0.25);
//   border-bottom: 1px solid #dee4ec;
  background-color: #e52c28 !important;
  border-bottom: 1px solid #dee4ec;
  box-shadow: 5px 7px 26px -5px #cdd4e7;

  .nav {
    > li {
      > a {
        color: #3a2c70;
      }
    }
  }
  .nav-left-menu {
    >li {
      >a {
        color: #484c72;
      }
    }
  }

  .collapse-menu-icon .mat-icon {
    color: #3a2c70;
  }

  .nav-notification-icons .mat-icon {
    color: #3a2c70;
  }
}
.navbar.active{
    z-index: 99999;
}
nav.navbar {
    min-height: auto;
}
.nav-left-menu > li > a {
    margin-top: 11px;
    margin-right: 24px;
    font-weight: 500;
}
section.content {
   // margin: 71px 15px 0 15px;
    .content-block {
        padding: 25px 0px 0px 16px;
    }
}

.materialTableHeader .header-buttons-right input.search-field {
    font-weight: 500;
    color: rgba(0, 0, 0, 0.54);
    border-radius: 5px;
    border: 0;
    height: 45px;
    padding: 8px 8px 8px 50px;
    width: 250px;
    background: #ffffff;
    transition: background 0.2s, width 0.2s;
}
.materialTableHeader .header-buttons-right .search-icon {
    position: absolute;
    top: 10px;
    padding-left: 10px;
    color: #fff(0, 0, 0, 0.54);
}
.dark .materialTableHeader .header-buttons-right input.search-field {
    background: #12161f;
    color: #96a2b4;
}
.btn-green-cls{
    background-color: #28a745 !important;
    color: #fff !important;
}
.manual-watch-content .mat-column-action .btn-green-cls{
    margin-right: 14px;
  }
.btn-red-cls{
    background-color: #dc3545 !important;
    color: #fff !important;
}

mat-footer-cell{
    justify-content: center;
    font-size: 21px !important;
    font-weight: 500 !important;
  }
  
.mat-column-qty{
    .mat-mdc-input-element{
        color: black !important;
        text-align: center;
    }
}
mat-paginator.mat-mdc-paginator {
    display: none;
}

.prbl-text-cls{
    text-align: center;
    margin-top: 18px;
}

.signup-text-cls{
    text-align: center;
}
.logo-section-cls{
    margin-left: 17%;
}
.algo-setting-form .form-group{
    margin-bottom: 0;
}

.orders-watch-content{
    .mat-column-qty{
      max-width: 50px;
      min-width: 50px;
    }
    .mat-column-price{
        max-width: 50px;
        min-width: 50px;
      }
  }
  .manual-watch-content{
    .mat-column-action, .mat-column-qty{
      max-width: 185px;
      min-width: 185px;
    }
  } 
  .light .materialTableHeader h2.livetime{
    font-size: 18px;
    color: black;
  }
  .materialTableHeader .col-md-4{
    list-style: none;
    height: 100%;
    display: flex;
    align-items: center;
  }
  .materialTableHeader .livetime-md{
    display: block;
  }

//   .down-mob-btn{
//     display: none;
//   }


  section.content {
    margin: 71px 15px 0 15px;
    .content-block {
     padding: 0px 0px 0px 0px;
    }
 }
//  .ads-section .course-card {
//    display: inline-block;
//    position: relative;
//    width: 100%;
//    margin-bottom: 30px;
//    border-radius: 6px;
//    color: rgba(0, 0, 0, 0.87);
//    background: #fff;
//    box-shadow: none;
//  }
.course-card .course-card-image {
  //width: 70%;
  
}
.course-card.course-card-blog{
  text-align: center;
  padding: 10px;
}
.course-card-blog .card-content-cls{
  //width: 57%;
    padding: 10px;
    font-size: 19px;
}
.down-btn-cls.desktop-btn{
  background: #fff;
  /* padding: 8px; */
  height: 50px;
  //width: 55%;
  font-size: 21px;
  border-radius: var(--mdc-protected-button-container-shape, var(--mdc-shape-small, 4px));
  box-shadow: var(--mdc-protected-button-container-elevation, 0px 3px 1px -2px rgba(0, 0, 0, 0.2), 0px 2px 2px 0px rgba(0, 0, 0, 0.14), 0px 1px 5px 0px rgba(0, 0, 0, 0.12));
  cursor: pointer;
  transition: box-shadow 280ms cubic-bezier(0.4, 0, 0.2, 1);
  padding: 0 16px 0px 16px;
  position: relative;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  box-sizing: border-box;
  -webkit-tap-highlight-color: rgba(0,0,0,0);
  min-width: 64px;
  --mdc-protected-button-container-color: #fff;
  --mdc-protected-button-label-text-color: #000;
  border: none;
  --mat-mdc-button-persistent-ripple-color: #000;
  --mat-mdc-button-ripple-color: rgba(0, 0, 0, .1);
  outline: none;
  line-height: inherit;
  -webkit-font-smoothing: antialiased;
  font-family: var(--mdc-typography-button-font-family, var(--mdc-typography-font-family, Roboto, sans-serif));
  user-select: none;
  font-weight: var(--mdc-typography-button-font-weight, 500);
  letter-spacing: var(--mdc-typography-button-letter-spacing, .0892857143em);
  -webkit-text-decoration: var(--mdc-typography-button-text-decoration, none);
  text-decoration: var(--mdc-typography-button-text-decoration, none);
  text-transform: var(--mdc-typography-button-text-transform, none);
  -webkit-appearance: none;
  overflow: visible;
  vertical-align: middle;
  /* background: rgba(0,0,0,0); */
  }
 
 .home-page-content .post-footer .fa-save, .home-page-content .post-footer .fa-share-square, .home-page-content .post-footer .fa-heart, .home-page-content .post-footer .fa-whatsapp-square{
   font-size: 20px;
   margin-right: 20px;
 }
 .post-footer{
   background: #e94945 !important;
 }
 .post-footer .stats{
   padding: 10px;
 }
 .fa-whatsapp-square{
   font-size: 17px !important;
   color: green;
   background: #ffff;
   border: 1px solid;
   border-radius: 50%;
   padding:8px;
 }
 .fa-share-square{
   font-size: 15px !important;
   background: #ffff;
   border: 1px solid;
   border-radius: 50%;
   padding: 8px;
 }
 .ads-section .course-card-blog{
   margin: 0;
   top: 50%;
   transform: translateY(-50%);
 }
 
 .img-circle.author-post-img{
    width: 65px;
 }
 .news-title{
   font-size: 17px;
     font-weight: 600;
     margin-bottom: 21px;
 }
 .link.facebook .fa-facebook{
     margin-left: -19px;
 }
 .link.facebook button.sb-facebook {
   width: 15px !important;
   min-width: 15px !important;
 }
 .link.facebook .sb-facebook{
   min-width: var(--sb-min-width, 1.125em) !important;
 }
 .mobile-ad-img{
   display:none;
 }
 
 .sb-icon {
     background: #fff !important;
     color: green !important;
     border-radius: 50% !important;
     width: 35px !important;
     height: 37px !important;
     padding: 0px !important;
     font-size: 20px !important;
     padding-top: 3px !important;
 }
 @media (max-width: 740px) {
   // .navbar-brand{
   //   width: 47% !important;
   // }
   .mobile-ad-img{
     display:block;
     margin-top: 48px;
   }
   .desktop-ad-img{
     display:none !important;
   }
  //  .desktop-playstore-btn-section{
  //   display:none !important;
  //  }
 }
 
 .video-wrapper {
   position: relative;
   padding-bottom: 56.25%;
   height: 0;
 }
 .video-wrapper video {
   position: absolute;
   top: 0;
   left: 0;
   width: 100%;
   height: 100%;
 }
